[submodule "base_models"]
	path = base_models
	url = git@github.com:Fbot-Hydrone/base_models.git
[submodule "Micro-XRCE-DDS-Gen"]
	path = Micro-XRCE-DDS-Gen
	url = https://github.com/eProsima/Micro-XRCE-DDS-Gen.git
